@font-face {
  font-family: G-Chewy-n4;
  src: url('../data/fonts.gstatic.com_s_chewy_v9_uK_94ruUb-k-wk5x.ttf');
}
@font-face {
  font-family: "G-Fredoka One-n4";
  src: url('../data/fonts.gstatic.com_s_fredokaone_v5_k3kUo8kEI-tA1RRcTZGmTmHB.ttf');
}
@font-face {
  font-family: G-Dosis-n4;
  src: url('../data/fonts.gstatic.com_s_dosis_v7_HhyaU5sn9vOmLwlv.ttf');
}
@font-face {
  font-family: "G-Covered By Your Grace-n4";
  src: url('../data/fonts.gstatic.com_s_coveredbyyourgrace_v7_QGYwz-AZahWOJJI9kykWW9mD6opopoqXSOS0Fg.ttf');
}
@font-face {
  font-family: "G-Walter Turncoat-n4";
  src: url('../data/fonts.gstatic.com_s_walterturncoat_v8_snfys0Gs98ln43n0d-14ULoToe67YA.ttf');
}